[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "ds-pypi-releases-local"
url = "https://artifactory.trillianthealth.com/artifactory/api/pypi/ds-pypi-releases-local/simple"
verify_ssl = true

#################
# HELLO!
#
# If you don't mind, please specify fairly strong bounds
# for _development_ dependencies in the Pipfile.
#
# The reasoning is that we never want our tests/linting to break after `pipenv lock`
# because of a backward-incompatible change to something like mypy or pytest
# that we didn't explicitly opt into by bumping a version.
#################

[dev-packages]
# MONOREPO STANDARDS
mypy = "==0.982"
mypy-extensions = "~=0.4"
pytest = "~=7.2"
pytest-cov = "~=4.0"
pytest-mock = "~=3.10"
types-setuptools = "*"
types-urllib3 = "*"
# PROJECT-SPECIFIC
types-cachetools = "*"
types-retry = "*"

#################
# By contrast, runtime dependencies (defined in pyproject.toml) should
# be as loose as semantically correct, because this is a library and
# we want to give applications maximum latitude to choose their own
# versions of libraries.
#################

[packages]
# DO NOT SPECIFY OTHER NON-LOCAL RUNTIME DEPENDENCIES HERE.
"thds.mops" = {path = ".", editable = true}
"thds.core" = {path = "../../libs/core", editable = true}
"thds.adls" = {path = "../../libs/adls", editable = true}
# PUT THOSE IN pyproject.toml ONLY PLEASE.

[requires]
python_version = "3.8"
