[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "ds-pypi-releases-local"
url = "https://artifactory.trillianthealth.com/artifactory/api/pypi/ds-pypi-releases-local/simple"
verify_ssl = true

#################
# HELLO!
#
# If you don't mind, please specify fairly strong bounds
# for _development_ dependencies in the Pipfile for a library.
# The reasoning is that we never want our stuff to break because
# of a backward-incompatible change to something like mypy or pytest.
#################

[dev-packages]
# MONOREPO STANDARDS
mypy = "==0.982"
mypy-extensions = "~=0.4"
pytest = "~=7.2"
pytest-cov = "~=4.0"
pytest-mock = "~=3.10"
types-setuptools = "*"
# CORE
"thds.core" = {path = "../core", editable = true, extras = ["dev"]}
# PROJECT-SPECIFIC

#################
# By contrast, runtime dependencies (defined in pyproject.toml) should
# be as loose as semantically correct, because this is a library and
# we want to give applications maximum latitude to choose their own
# versions of libraries.
#################

[packages]
# DO NOT SPECIFY OTHER NON-LOCAL RUNTIME DEPENDENCIES HERE.
"thds.adls" = {path = ".", editable = true}
"thds.core" = {path = "../core", editable = true}
# PUT THOSE IN pyproject.toml ONLY PLEASE.

[requires]
python_version = "3.8"
